name: Build TizenRT Ares

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  workflow_dispatch:

jobs:
  run-python:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r scripts/requirements.txt
          sudo apt install xz-utils

      - name: Check Docker
        run: docker --version

      - name: Run Build script
        working-directory: scripts
        run: |
          python CI.py

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ares-build-assets
          path: /tmp/build
